<a href="/users/<%=@user.id%>/edit">Edit Profile</a>
<p>Welcome, <%=@user.first_name%></p>
<p>Here are some of te events at your state:</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Host</th>
			<th>Action/Status</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
		<tr>
			<td><a href="/events/<%=event.id%>"><%=event.name%></a></td>
			<td><p><%=event.date%></p></td>
			<td><p><%=event.location%></p></td>
			<td><p><%=event.user.first_name%></p></td>
			<td>
				<% if event.user == @user %>
					<a href="/events/<%=event.id%>/edit">Edit</a>
					<a href="/events/<%=event.id%>" data-method="delete">Delete</a>
				<% else %>
					<%if event.users.include?(@user) %>
						<p>Joining <a href="/events/<%=event.id%>/cancel" data-method="delete">Cancel</a></p>
					<%else%>
						<a href="/events/<%=event.id%>/join">Join</a>
					<%end%>
				<%end%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>

<p>Here are some of the events on other states:</p>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>State</th>
			<th>Host</th>
			<th>Action/Status</th>
		</tr>
	</thead>
	<tbody>
		<% @others.each do |event| %>
		<tr>
			<td><a href="/events/<%=event.id%>"><%=event.name%></a></td>
			<td><p><%=event.date%></p></td>
			<td><p><%=event.location%></p></td>
			<td><p><%=event.state.abbreviation%></p></td>
			<td><p><%=event.user.first_name%></p></td>
			<td>
				<% if event.user == @user %>
					<a href="/events/<%=event.id%>/edit">Edit</a>
					<a href="/events/<%=event.id%>" data-method="delete">Delete</a>
				<% else %>
					<%if event.users.include?(@user) %>
						<p>Joining <a href="/events/<%=event.id%>/cancel" data-method="delete">Cancel</a></p>
					<%else%>
						<a href="/events/<%=event.id%>/join">Join</a>
					<%end%>
				<%end%>
			</td>
		</tr>
		<%end%>
	</tbody>
</table>

<h3>Add Event</h3>
<form action="/events" method="post">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	<label>Name:</label>
	<input type="text" name="event[name]"><br>
	<label>Date:</label>
	<input type="date" name="event[date]"><br>
	<label>Location:</label>
	<input type="text" name="event[location]">
	<select name="event[state_id]">
		<% all_states.each do |state| %>
			<option value="<%=state.id%>"><%=state.abbreviation%></option>
		<%end%>
	</select>
	<input type="submit" value="Add Event">
</form>